In [7]:
import pandas as pd
from ast import literal_eval
df = pd.read_csv('mal_top2000_anime.csv')
df = df.drop('Unnamed: 0', axis=1)

In [8]:
print(df.head(5))
print(df.columns)

                                 Name Type  Score  Score Rank  \
0    Fullmetal Alchemist: Brotherhood   TV   9.14           1
1                        Spy x Family   TV   9.09           2
2  Shingeki no Kyojin Season 3 Part 2   TV   9.08           3
3                         Steins;Gate   TV   9.08           4
4                            Gintama°   TV   9.08           5

   Popularity Rank                     Air Date  \
0                3   Apr 5, 2009 to Jul 4, 2010
1              350             Apr 9, 2022 to ?
2               32  Apr 29, 2019 to Jul 1, 2019
3               13  Apr 6, 2011 to Sep 14, 2011
4              335  Apr 8, 2015 to Mar 30, 2016

                                      Studio  Num. of episodes  \
0                                  ['Bones']                64
1  ['Wit Studio', '            CloverWorks']                12
2                             ['Wit Studio']                10
3                              ['White Fox']                24
4                  ['Bandai Namco Pictures']                51

                                        Genres  \
0  ['Action', 'Adventure', 'Drama', 'Fantasy']
1                         ['Action', 'Comedy']
2                          ['Action', 'Drama']
3              ['Drama', 'Sci-Fi', 'Suspense']
4               ['Action', 'Comedy', 'Sci-Fi']

                                           Theme(s) Demographic
0                                      ['Military']     Shounen
1                                     ['Childcare']     Shounen
2                  ['Gore', 'Military', 'Survival']     Shounen
3                  ['Psychological', 'Time Travel']        None
4  ['Gag Humor', 'Historical', 'Parody', 'Samurai']     Shounen
Index(['Name', 'Type', 'Score', 'Score Rank', 'Popularity Rank', 'Air Date',
       'Studio', 'Num. of episodes', 'Genres', 'Theme(s)', 'Demographic'],
      dtype='object')

In [9]:
top5 = df.head(5).sort_values(['Score'],ascending=False)
display(top5)

,Name,Type,Score,Score Rank,Popularity Rank,Air Date,Studio,Num. of episodes,Genres,Theme(s),Demographic
0,Fullmetal Alchemist: Brotherhood,TV,9.14,1,3,"Apr 5, 2009 to Jul 4, 2010",['Bones'],64,"['Action', 'Adventure', 'Drama', 'Fantasy']",['Military'],Shounen
1,Spy x Family,TV,9.09,2,350,"Apr 9, 2022 to ?","['Wit Studio', ' CloverWorks']",12,"['Action', 'Comedy']",['Childcare'],Shounen
2,Shingeki no Kyojin Season 3 Part 2,TV,9.08,3,32,"Apr 29, 2019 to Jul 1, 2019",['Wit Studio'],10,"['Action', 'Drama']","['Gore', 'Military', 'Survival']",Shounen
3,Steins;Gate,TV,9.08,4,13,"Apr 6, 2011 to Sep 14, 2011",['White Fox'],24,"['Drama', 'Sci-Fi', 'Suspense']","['Psychological', 'Time Travel']",None
4,Gintama°,TV,9.08,5,335,"Apr 8, 2015 to Mar 30, 2016",['Bandai Namco Pictures'],51,"['Action', 'Comedy', 'Sci-Fi']","['Gag Humor', 'Historical', 'Parody', 'Samurai']",Shounen

In [10]:
score_mean_per_studio = df[['Score','Studio']]
display(score_mean_per_studio.groupby(by='Studio').mean())

                                                       Score
Studio
["Brain's Base", '            Marvy Jack']          8.105000
["Brain's Base"]                                    7.984231
['10Gauge', '            Studio DURIAN']            7.720000
['8bit']                                            7.706875
['A-1 Pictures', '            Bridge', '       ...  7.550000
...                                                      ...
['asread.']                                         7.503333
['dwarf']                                           7.660000
['feel.']                                           8.002857
['production doA']                                  7.775000
['ufotable']                                        8.089231

[273 rows x 1 columns]

in the above situation, the groupings consider each joint work of studios as a "unique studio".

In [13]:
score_mean_per_studio_unique = score_mean_per_studio.loc[:,('Score','Studio')]
score_mean_per_studio_unique['Studio'] = score_mean_per_studio_unique['Studio'].apply(literal_eval)
score_mean_per_studio_unique = score_mean_per_studio_unique.set_index(['Score']).apply(pd.Series.explode).reset_index()
display(score_mean_per_studio_unique.head(5))

   Score                   Studio
0   9.14                    Bones
1   9.09               Wit Studio
2   9.09              CloverWorks
3   9.08               Wit Studio
4   9.08                White Fox